.train-between-stations {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="date"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .error {
    color: red;
    margin-top: 10px;
  }
  
  h3 {
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
  }
  
  th,
  td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ccc;
  }
  .train-search{
    margin-left: 20px;
  }
  
.maps-google{
    border-radius: 20px;
    overflow: hidden;
  }
  .search-btn {
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: #27ae60;
    width: 100px;
    height: 50px;
    border-radius: 20px;
  }
  .search-btn:hover{
    background-color: #27ae60;
  transition: ease-in 0.4s;
  border-radius: 0px;
  color: #ffffff;
  }